{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/
    ScQsAP7hUibX39j7fakFPskvXusvfa0b40" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8j0t6vLEHfe/
    JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{%static 'core/css/diseño.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body class="margen">
    
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home'%}"><img src="{%static 'core/img/36375.png'%}" width="100" height="100"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'tienda'%}">Tienda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'quienesSomos'%}">¿Quienes somos?</a>
            </li>

  
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'registro'%}">Registro</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Productos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {%if perms.core.add_producto%}
                  <li><a class="dropdown-item"  aria-current="page" href="{%url 'tienda2'%}">Agregar Producto</a></li>
                  {%endif%}
                  {%if perms.core.view_producto%}
                  <li><a class="dropdown-item" aria-current="page" href="{%url 'carrito'%}">Modificar productos</a></li>
                  {%endif%}
                </ul>
              </li>
              
              
              
            {%if user.is_authenticated%}
            <li class="nav-item">
              <a href="{% url 'logout'%}" class="nav-link active">Cerrar sesión</a>
            </li>
            <li class="nav-item">
              <a href="{%url 'usuarios'%}" class="nav-link active">Listado de productos</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link active">@{{user.username}}</a>
            </li>
            {%else%}
            <li class="nav-item">
              <a href="{%url 'login'%}" class="nav-link active">Iniciar sesión</a>
            </li>
            {%endif%}    
          </ul>
          
        </div>
      </div>
    </nav>
  
    {% block contenido%}
        
    {% endblock contenido%}
  
  
    <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted">
      <!-- Section: Social media -->
      <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
      >
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Contactanos en nuestras redes sociales:</span>
         <br>
          <a href="https://www.facebook.com/umetiendadeplantas/" class="me-4 text-reset">
              <i class="fab fa-facebook-f"><img src="{%static 'core/img/face2-removebg-preview__1_-removebg-preview (2).png'%}" alt="" height="55"></i>
            </a>
            <a href="https://www.instagram.com/tiendadeplantassv/?hl=es" class="me-4 text-reset">
              <i class="fab fa-instagram"><img src="{%static 'core/img/insta-removebg-preview.png'%}" alt="" height="45"></i>
          </a>
        </div>
        <!-- Left -->
    
        <!-- Right -->
        <div>
       
          
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
    
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Comunidad Verde
              </h6>
              <p>
                No dudes en contactarno para poder aclarar todas tus dudas
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
    
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Enlaces
              </h6>
              <p>
                <a href="#!" class="text-reset">Tienda</a>
              </p>
              <p>
                <a href="#!" class="text-reset">¿Quienes somos?</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Registrate</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Iniciar sesion</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Contacto
              </h6>
              <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                comunidadVerded@gmail.com
              </p>
              <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
    {%if messages%}
        {%for m in messages%}
          <script>
            Swal.fire({
              "title":"Felicitaciones",
              "text" : "{{m}}",
              "icon":"success"
            })
          </script>
        {%endfor%}
        {%endif%}
  
    <script src="{%static 'core/JS/carrito.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>