{% extends "core/base.html"%}
{%load static%}
{% block contenido %}
<br>
    <!--empieza el encabezado-->
      <header>

    </header>
    <table class="table  table-striped">
      <thead class="table-dark">
      <tr>
        <th>id del producto</th>
        <th>Nombre del producto</th>
        <th>stock</th>
        <th>precio</th>
        <th>categoria</th>
        <th>imagen</th>
        <th>Opciones</th>
      </tr>
    </thead>
    
    {%for pr in entity%}
    <tbody>
    <tr>
        <td>{{pr.id_producto}}</td>
        <td>{{pr.nombre_producto}}</td>
        <td>{{pr.stock}}</td>
        <td id="precio">${{pr.precio}}</td>
        <td>{{pr.categoria}}</td>
        {%if pr.imagen%}
        <td><img src="{{pr.imagen.url}}" alt="" width="300" height="300"></td>
        <td>
          <a href="{%url 'modificar_producto' pr.id_producto%}" class="btn btn-info btn-sm">Modificar</a>
          <a href="{%url 'eliminar_producto' pr.id_producto%}" class="btn btn-danger btn-sm">Eliminar</a>
        </td>
        {%endif%}
    </tr>
 
  </tbody>
    {%endfor%}
  
    </table>
    <div>
      {%include 'core/paginator.html'%}
    </div>

    <script>
        function contador(){
            var contar=0;
            var precio=document.getElementById("precio").value;
            document.getElementById("mostrar").innerHTML="hola"+precio+(contar+1);
        }
    </script>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  {%if messages%}
      {%for m in messages%}
        <script>
          Swal.fire({
            "title":"Felicitaciones",
            "text" : "{{m}}",
            "icon":"success"
          })
        </script>
      {%endfor%}
      {%endif%}

      {% endblock contenido %}
