{% extends "core/base.html"%}
{%load static%}
{% block contenido %}
<br>
    <!--empieza el encabezado-->
      <header>

    </header>
    <table class="table  table-striped">
      <thead class="table-dark">
      <tr>
        <th>Id del Producto</th>
        <th>Nombre del producto</th>
        <th>Stock</th>
        <th>Precio</th>
        <th>Categoria</th>
        <th>Imagen</th>
        <th>Opciones</th>
      </tr>
    </thead>
    
    {%for pr in entity%}
    <tbody>
    <tr>
        <td>{{pr.id_producto}}</td>
        <td>{{pr.nombre_producto}}</td>
        <td>{{pr.stock}}</td>
        <td id="precio">${{pr.precio}}</td>
        <td>{{pr.categoria}}</td>
        {%if pr.imagen%}
        <td><img src="{{pr.imagen.url}}" alt="" width="300" height="300"></td>
        {%endif%}
        <td>
          <a href="{%url 'modificar_producto' pr.id_producto%}" class="btn btn-info btn-sm">Modificar</a>
          <a href="{%url 'eliminar_producto' pr.id_producto%}" class="btn btn-danger btn-sm">Eliminar</a>
         <!-- <button class="btn btn-info btn-sm" id="agregar" onclick="getTotal({{pr.precio}})">Agregar</button>-->
        </td>
        
    </tr>
 
  </tbody>
    {%endfor%}

    </table>
    <!--<input type="text" id="total" value="0" readonly>Total-->
    <!--<input type="text" id="nombres" value="0" readonly>-->
    
    
    <script>
      var mostrar=document.getElementById("total")
      //var detalle=document.getElementById("nombres")
      var totalSuma=0;
      
      function getTotal(precio){
        totalSuma=totalSuma+precio
        mostrar.value=totalSuma
        //detalle.value=nombre
        console.log(mostrar.value)
        //console.log(detalle.value)
      }
      
    </script>
    <!--
    <div>
      {%include 'core/paginator.html'%}
    </div>
    -->
   



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  {%if messages%}
      {%for m in messages%}
        <script>
          Swal.fire({
            "title":"Felicitaciones",
            "text" : "{{m}}",
            "icon":"success"
          })
        </script>
      {%endfor%}
      {%endif%}

      {% endblock contenido %}
