{% extends "core/base.html"%}
{%load static%}
{% block contenido %}

  
      <br>
      <div class="margen">
        <div class="">
        <h3>Somos una empresa especialista en paisajismo y jardinería, dedicada al mantenimiento, diseño y decoración de sus áreas verdes. Ponemos a su disposición nuestra experiencia y dedicación, para en conjunto diseñar y mantener su jardín o áreas verdes de su empresa. De esta manera satisfacer sus requerimientos y necesidades. Creemos en la importancia que tienen las áreas verdes en nuestra comunidad y es por ello que todos nuestros servicios son garantizados y seguidos para asegurar la vitalidad de nuestras áreas verdes y conformidad del cliente.</h3>
        </div>
      </div>
      <br>
      <div class="margen">
       <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13318.057309127353!2d-70.65388102700973!3d-33.43590428524858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5bb4111ab93%3A0xfd19b6a7b8b61286!2sSemilleria%2C%20La%20Catedral!5e0!3m2!1ses!2scl!4v1649958122440!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></center>
       
    </div>


    <!--redes sociales-->
    <div class="margen">
        <center> 
        <a href="https://www.facebook.com/umetiendadeplantas/"><img src="{%static 'core/img/face2-removebg-preview__1_-removebg-preview (2).png'%}" alt="" height="200"></a>  <a href="https://www.instagram.com/tiendadeplantassv/?hl=es"><img src="{%static 'core/img/insta-removebg-preview.png'%}" alt="" height="150"></a>
      </center>
      </div>


      {% endblock contenido %}



