{% extends "core/base.html"%}
{%load static%}
{% block contenido %}



    <script type="text/javascript">
        $(document).ready(function(){
            $("#enviar").click(function(){
            $.get("http://127.0.0.1:8000/api/producto",
                function(data){
                    $.each(data,function(i, item){
                        $("#categorias").append("<tr><td>"+item.id_producto+"</td><td>"+item.nombre_categoria+
                            "</td><td>"+item.nombre_producto+"</td><td>"+
                            item.stock+"</td><td>"+item.descripcion+"</td><td>"+item.precio+"</td><td><img  src='"+item.imagen+"' width='300' height='300' '>"+"</td></tr>");
                    });
                });
            });
        })
    </script>

</head>
<body>

    <div class="container">
        <div class="row">
            <h3>Lista de productos </h3>
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary" id="enviar"> Traer Datos</button>
        </div>
        <div>
            <div class="table-responsive">
            <table class="table" id="categorias">
                <thead>
                    <tr>
                        
                        <th scope="col">id</th>
                        <th scope="col">categoria</th>
                        <th scope="col">nombre</th>
                        <th scope="col">stock</th>
                        <th scope="col">descripcion</th>
                        <th scope="col">precio</th>
                        <th scope="col">imagen</th>
                    </tr>
                </thead>
            </table>
            </div>
        </div>
    </div>



    
    {% endblock contenido %}